<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BearDog</string>
	<key>CFBundleExecutable</key>
	<string>beardog</string>
	<key>CFBundleIdentifier</key>
	<string>org.ecoprimals.beardog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BearDog</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>nfc</string>
	</array>
	<key>NFCReaderUsageDescription</key>
	<string>BearDog uses NFC to communicate with FIDO2 security keys for hardware-backed cryptographic operations.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>BearDog uses Face ID to authenticate access to hardware-backed cryptographic keys in the Secure Enclave.</string>
</dict>
</plist>
